
@{
    ViewBag.Title = "CheckEmail";
}

<h2>Vahvista varauksesi käyttämällä sähköpostiisi lähetettyä linkkiä:  @ViewBag.Email</h2>

@*<button onclick="window.history.go(-2);">Takaisin viikkonäkymään</button>*@
@*<button onclick="window.location = document.referrer.referrer;">Takaisin viikkonäkymään</button>*@