
@{
    ViewBag.Title = "CheckEmail";
}

<h2>Vahvista varauksesi käyttämällä sähköpostiisi lähetettyä linkkiä:  @ViewBag.Email</h2>

<a href="@ViewBag.ReturnUrl">Paluu</a>

@*<button onclick="window.history.go(-2);">Takaisin viikkonäkymään</button>*@
@*<button onclick="window.location = document.referrer.referrer;">Takaisin viikkonäkymään</button>*@