@model IEnumerable<Tuple<int, string>>


@{
    ViewBag.Title = "Index";
}

<h2>Ajanvaraus - Valitse Varausaikataulu</h2>


    <table class="table">
        <tr>
            <th>
                Nimi
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Schedule.Name)
                    </td>*@
                <td>
                    @Html.ActionLink(item.Item2, "WeekView", "Bookings", new { schedule = item.Item1 }, null)
                </td>
            </tr>
        }

    </table>
