@{
    ViewBag.Title = "About";
}

@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<h2>Tiedot</h2>

<h3>Testi ilmaisten ajanvarausplaveluiden avausta varten </h3>

<p>Käyttö omalla vastuulla</p>
